<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMO - Elektrik Faturası Hesaplama</title>
    <link rel="shortcut icon" href="https://www.emo.org.tr/favicon.ico" />
    <script>
      function resizeIframe(obj) { obj.style.height =
      obj.contentWindow.document.documentElement.scrollHeight + "px"; }
    </script>
  </head>
  <body>
    <h1>iframe test</h1>
    <iframe
      id="calculator"
      title="Elektrik Faturası Hesaplama Aracı"
      style="border: none; width: 100%;"
      src="index.html"
      onload="resizeIframe(this)"
    ></iframe>
    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>