<table
  id="calculation-domicile"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <thead>
    <tr>
      <th scope="col">Mesken</th>
      <th scope="col">Düşük Kademe</th>
      <th scope="col">Yüksek Kademe</th>
      <th scope="col">Toplam</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">Tüketim (kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionTotalFake"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Enerji Bedeli (kr/kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">Dağıtım Bedeli (kr/kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">Nihai Bedel (kr/kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">Enerji Tutarı (TL)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyCostLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyCostHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyCostTotal"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Dağıtım Tutarı (TL)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryCostLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryCostHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryCostTotal"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Nihai Tutar (TL)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalCostLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalCostHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalCostTotal"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">%5 BTV (TL)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyBTVLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyBTVHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyBTVTotal"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">KDV Matrahı</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalForKDVLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalForKDVHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalForKDVTotal"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">%18 KDV</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyKDVLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyKDVHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyKDVTotal"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">TOPLAM</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalCostLowLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalCostHighLevel"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalCost"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
  </tbody>
</table>