<div class="user-guide mt-3">
  <em>Sarı alanları doldurunuz. Rakamlarda, ondalık ayracı nokta (.) işaretidir.</em>
</div>
<table
  id="multi-phase-input-dates"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <tbody>
    <tr>
      <td class="align-middle">İlk okuma tarihi</td>
      <td class="align-middle">
        <input type="date" class="form-control" id="dateStartMP" value="" />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Son okuma tarihi</td>
      <td class="align-middle">
        <input type="date" class="form-control" id="dateEndMP" value="" />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Fark (Gün)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="dayDiffMP"
          disabled
          readonly
        />
      </td>
    </tr>
  </tbody>
</table>

<table
  id="multi-phase-input-consumptions"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary caption-top"
>
  <caption>
    Tüketim (kWh)
  </caption>
  <thead>
    <tr>
      <th class="text-center" scope="col">T1 (kWh)</th>
      <th class="text-center" scope="col">T2 (kWh)</th>
      <th class="text-center" scope="col">T3 (kWh)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT1"
          placeholder="Tüketimi giriniz!"
          min="0"
          value=""
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT2"
          placeholder="Tüketimi giriniz!"
          min="0"
          value=""
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT3"
          placeholder="Tüketimi giriniz!"
          min="0"
          value=""
          step="any"
        />
      </td>
    </tr>
  </tbody>
</table>