<table
  id="calculation-business"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <thead>
    <tr>
      <th scope="col">Ticarethane</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">Toplam</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">Tüketim (kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control placeholderinput"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control placeholderinput"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionTotalFakeBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Enerji Bedeli (kr/kWh)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Dağıtım Bedeli (kr/kWh)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Nihai Bedel (kr/kWh)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Enerji Tutarı (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyCostTotalBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Dağıtım Tutarı (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryCostTotalBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Nihai Tutar (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalCostTotalBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">%5 BTV (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyBTVTotalBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">KDV Matrahı</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalForKDVTotalBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">%18 KDV</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyKDVTotalBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">TOPLAM</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalCostBusiness"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
  </tbody>
</table>