<table
  id="calculation-business-mp"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <thead>
    <tr>
      <th scope="col">Ticarethane</th>
      <th scope="col">T1 (kWh)</th>
      <th scope="col">T2 (kWh)</th>
      <th scope="col">T3 (kWh)</th>
      <th scope="col">Toplam (kWh)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT1MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT2MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT3MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionTotalMPB"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT1MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT2MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT3MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT1MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT2MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT3MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT1MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT2MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT3MPB"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT1MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT2MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT3MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostTotalMPB"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT1MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT2MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT3MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostTotalMPB"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT1MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT2MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT3MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostTotalMPB"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT1MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT2MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT3MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVTotalMPB"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT1MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT2MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT3MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVTotalMPB"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT1MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT2MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT3MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVTotalMPB"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT1MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT2MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT3MPB"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostTotalMPB"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
  </tbody>
</table>