<table
  id="calculation-industry-mp"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <thead>
    <tr>
      <th scope="col">Sanayi</th>
      <th scope="col">T1 (kWh)</th>
      <th scope="col">T2 (kWh)</th>
      <th scope="col">T3 (kWh)</th>
      <th scope="col">Toplam (kWh)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT1MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT2MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT3MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionTotalMPI"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT1MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT2MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT3MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT1MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT2MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT3MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT1MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT2MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT3MPI"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT1MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT2MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT3MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostTotalMPI"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT1MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT2MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT3MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostTotalMPI"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT1MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT2MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT3MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostTotalMPI"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT1MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT2MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT3MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVTotalMPI"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT1MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT2MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT3MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVTotalMPI"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT1MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT2MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT3MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVTotalMPI"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT1MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT2MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT3MPI"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostTotalMPI"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
  </tbody>
</table>