<ul class="nav nav-pills mb-3" id="pills-tab-mp" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab-mp" data-bs-toggle="pill" data-bs-target="#pills-home-mp"
      type="button" role="tab" aria-controls="pills-home-mp" aria-selected="true">
      Mesken
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab-mp" data-bs-toggle="pill" data-bs-target="#pills-profile-mp"
      type="button" role="tab" aria-controls="pills-profile-mp" aria-selected="false">
      Ticarethane
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab-mp" data-bs-toggle="pill" data-bs-target="#pills-contact-mp"
      type="button" role="tab" aria-controls="pills-contact-mp" aria-selected="false">
      Sanayi
    </button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent-mp">
  <div class="tab-pane fade show active" id="pills-home-mp" role="tabpanel" aria-labelledby="pills-home-tab-mp">

    {{> 01-master-tabs-02-content-02-mp-pills-01-mp-home-table }}

  </div>
  <div class="tab-pane fade" id="pills-profile-mp" role="tabpanel" aria-labelledby="pills-profile-tab-mp">

    {{> 01-master-tabs-02-content-02-mp-pills-02-mp-business-table }}

  </div>
  <div class="tab-pane fade" id="pills-contact-mp" role="tabpanel" aria-labelledby="pills-contact-tab-mp">

    {{> 01-master-tabs-02-content-02-mp-pills-03-mp-industry-table }}

  </div>
</div>