<table
  id="calculation-home-mp"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <thead>
    <tr>
      <th scope="col">Mesken</th>
      <th scope="col">T1 (kWh)</th>
      <th scope="col">T2 (kWh)</th>
      <th scope="col">T3 (kWh)</th>
      <th scope="col">Toplam (kWh)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT1MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT2MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionT3MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionTotalMPH"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT1MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT2MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceT3MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT1MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT2MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceT3MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT1MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT2MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceT3MPH"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">&nbsp;</td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT1MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT2MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostT3MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyCostTotalMPH"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT1MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT2MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostT3MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyDeliveryCostTotalMPH"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT1MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT2MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostT3MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyFinalCostTotalMPH"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT1MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT2MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVT3MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyBTVTotalMPH"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT1MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT2MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVT3MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalForKDVTotalMPH"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT1MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT2MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVT3MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyKDVTotalMPH"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
    <tr>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT1MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT2MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostT3MPH"
          disabled
          readonly
          step="any"
        /></td>
      <td class="align-middle"><input
          type="number"
          class="form-control"
          id="energyTotalCostTotalMPH"
          disabled
          readonly
          step="any"
        /></td>
    </tr>
  </tbody>
</table>