<div class="user-guide mt-3">
  <em>Sarı alanları doldurunuz. Rakamlarda, ondalık ayracı nokta (.) işaretidir.</em>
</div>
<table
  id="single-phase-input"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <tbody>
    <tr>
      <td class="align-middle">İlk okuma tarihi</td>
      <td class="align-middle">
        <input type="date" class="form-control" id="dateStart" value="" />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Son okuma tarihi</td>
      <td class="align-middle">
        <input type="date" class="form-control" id="dateEnd" value="" />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Fark (Gün)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="dayDiff"
          disabled
          readonly
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Limit Tüketim (kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="limit"
          disabled
          readonly
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Toplam Tüketim (kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionTotal"
          placeholder="Tüketimi giriniz!"
          min="0"
          value=""
          step="any"
        />
      </td>
    </tr>
  </tbody>
</table>