<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
      role="tab" aria-controls="nav-home" aria-selected="true">
      Tek Zamanlı
    </button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
      role="tab" aria-controls="nav-profile" aria-selected="false">
      Çok zamanlı
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

    {{> 01-master-tabs-01-content-01-sp-input-tables }}

    {{> 01-master-tabs-01-content-02-sp-pills-00 }}

    <br><br><br><br>

  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    {{> 01-master-tabs-02-content-01-mp-input-tables }}

    {{> 01-master-tabs-02-content-02-mp-pills-00 }}

  </div>
</div>