<table
  id="calculation-industry"
  class="table table-primary table-striped table-bordered table-hover table-sm border-primary"
>
  <thead>
    <tr>
      <th scope="col">Sanayi</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">Toplam</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">Tüketim (kWh)</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control placeholderinput"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control placeholderinput"
          disabled
          readonly
          step="any"
        />
      </td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="consumptionTotalFakeIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Enerji Bedeli (kr/kWh)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyUnitPriceIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Dağıtım Bedeli (kr/kWh)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryPriceIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Nihai Bedel (kr/kWh)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalPriceIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Enerji Tutarı (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyCostTotalIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Dağıtım Tutarı (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyDeliveryCostTotalIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">Nihai Tutar (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyFinalCostTotalIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">%1 BTV (TL)</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyBTVTotalIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">KDV Matrahı</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalForKDVTotalIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">%18 KDV</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyKDVTotalIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
    <tr>
      <td class="align-middle">TOPLAM</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">&nbsp;</td>
      <td class="align-middle">
        <input
          type="number"
          class="form-control"
          id="energyTotalCostIndustry"
          disabled
          readonly
          step="any"
        />
      </td>
    </tr>
  </tbody>
</table>